.sauces {
    margin-bottom: 40px;

    &__inner {
    }

    &__title {
        margin-bottom: 20px;

        font-weight: 600;
        font-size: 24px;
        line-height: 17px;

        color: $color-pink;
    }

    &__items {
        padding: 0 15px 20px;

        display: flex;
        justify-content: start;
        gap: 20px;

        overflow-x: auto;
    }

    &__item {
        padding: 14px 25px 20px;

        max-width: 120px;

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        border: 1.5px solid $color-social-border;
        border-radius: 12px;

        box-shadow: $product-shadow;
    }

    &__item-img-container {
        margin-bottom: 10px;

        width: 65px;
        height: 65px;

        overflow: hidden;
    }

    &__item-img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }

    &__item-title {
        margin-bottom: 10px;

        font-weight: 600;
        font-size: 13px;
        line-height: 14px;

        color: $color-black-1;

        text-align: center;
    }

    &__item-price {
        font-weight: 700;
        font-size: 14px;
        line-height: normal;

        color: $color-pink;
    }
}
