$container-width: 1140px;

// COLORS
$color-white: #ffffff;
$color-black-1: #0e0c0d;
$color-black-2: #231f20;
$color-gray-1: #686466;
$color-gray-2: #696f7a;
$color-gray-3: #f3f3f7;
$color-gray-4: #9d9d9b;
$color-social-border: #e3ecf5;

$color-pink: #ff2e65;

// SHADOWS
$slider-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.26);
$product-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
